.card-wrapper {
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .card-wrapper {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1170px) {
  .card-wrapper {
    width: 20%;
  }
}

@media screen and (min-width: 1170px) {
  .container {
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 25px;
  }
}
